#required
tensorflow
tflearn
numpy
layer
# or git clone --recursive for layer submodule

#optional:
scikit-image
pyaudio
wave
python_speech_features
matplotlib
libtorrent
tensorlayer
# cv,cv2 #  deprecated, we use matplotlib.pyplot now
